.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../public/backrground.avif') center/cover no-repeat fixed;
}


.input-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 'Arial', sans-serif;
  position: relative;
}

.input-form {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 1000px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px;
  margin-left: 50px;
  flex: 1;
  max-width: 300px;
  margin: 10px;
}

.input-form label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 1000px;
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  position: absolute;
  bottom: 15px;
}

.btn:hover {
  background-color: #45a049;
}


input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}














.result-page-container {
  text-align: center;
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

.result-message {
  font-size: 3rem;
  margin-top: 20px;
  width: 400px;
  height: 300px;
  padding: 10px;
  background-color: black;
  color: #333;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-0%, -50%);
}

.result-message.success {
  color: #4caf50;
}

.result-message.failure {
  color: #e74c3c;
}